coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_cache
*.ipynb_checkpoints
*.egg-info
.venv
.vite_opt_cache
.vscode
.idea
.temp

__pycache__

pids
logs
results

build
dist/*
dist.zip

js/npm-debug.log
js/node_modules
js/dist

docs/npm-debug.log
docs/node_modules
docs/.vitepress/cache
docs/.vitepress/dist

jscatter/labextension
jscatter/nbextension
jscatter/bundle.js

notebooks/data

pyrightconfig.json
