*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.webm !text !filter !merge !diff
