graft jscatter/nbextension
graft jscatter/labextension

graft js
graft tests
prune **/node_modules

include jscatter.json

include CHANGELOG.md
include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt

graft tests
graft docs
prune docs/_build
prune docs/_static
prune docs/_templates

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude *.dylib
global-exclude .git*
global-exclude .deps/*
global-exclude .DS_Store
