name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.x"
      - run: |
          uv run ruff format --check

  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
      - run: |
          cd js
          npm update
          npm ci

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.x"

      - name: Run tests with all dependencies
        run: |
          uv venv --clear
          source .venv/bin/activate
          uv pip install -e ".[all]"
          pytest . --color=yes
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Run tests with default dependencies only
        run: |
          uv venv --clear
          source .venv/bin/activate
          uv pip install -e .
          pytest tests/test_optional_dependencies.py --color=yes
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Run tests with default and label-extras dependencies only
        run: |
          uv venv --clear
          source .venv/bin/activate
          uv pip install -e ".[label-extras]"
          pytest tests/test_optional_dependencies.py --color=yes
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Run tests with default and annotation-extras dependencies only
        run: |
          uv venv --clear
          source .venv/bin/activate
          uv pip install -e ".[annotation-extras]"
          pytest tests/test_optional_dependencies.py --color=yes
        env:
          UV_PYTHON: ${{ matrix.python-version }}
